<header class="contaioner"> 
  <nav class="navbar navbar-right navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">MOYOU</a>
      <ul class="nav navbar-nav navbar-right">
          <li>  <a class=""  [routerLink]="['/home']">HOME</a></li>
         <li>  <a class=""  [routerLink]="['/features']">FEATURES</a></li>
          <li> <a class="dropdown" [routerLink]="['/about']">ABOUT</a></li>
        
         <li>  <a class=""   [routerLink]="['/login']">LOGIN</a></li>
         </ul>    
                     
         </div>
         </nav> 
       </header>